app = "fullstack-reason-react-demo"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  SERVER_INTERFACE = "0.0.0.0"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
