# The template is needed since we want to add "@new-doc" into the build command
build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@new-doc" {with-doc}
  ]
]
