build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@new-doc" {with-doc}
  ]
]
pin-depends: [
  ["dune.dev" "https://github.com/jchavarri/dune/archive/531e4d315ea3958cf55884811de80104191d1d41.tar.gz"]
]
