(executable
 (name runner)
 (modules App_native Entry_native Runner)
 (libraries
  react
  reactDOM
  lwt
  lwt.unix
  melange-json)
 (preprocess
  (pps
   server-reason-react.ppx -shared-folder-prefix=__SHARED_PREFIX__
   server-reason-react.melange_ppx
   melange-json-native.ppx
   lwt_ppx)))
