(melange.emit
 (target output)
 (module_systems
  (es6 re.js))
 (modules App_js Entry_js)
 (libraries
  melange
  reason-react
  melange-json)
 (preprocess
  (pps
   server-reason-react.ppx -melange -shared-folder-prefix=__SHARED_PREFIX__
   reason-react-ppx
   melange.ppx
   melange-json.ppx)))
