name: CI

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

env:
  OPAM_VERSION: 2.2.0
  DUNE_PROFILE: release

permissions:
  contents: write

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-compiler:
          - 5.1.1

    steps:
      - uses: actions/checkout@v3

      - name: Load opam cache when not Windows
        id: opam-cache
        uses: actions/cache/restore@v3
        with:
          path: ~/.opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          opam-disable-sandboxing: true

      - name: Use Node.js
        uses: actions/setup-node@v3

      - name: Install deps
        run: make install

      - name: Pin dependencies
        run: make pin

      - name: Build
        run: make build

      - name: Check formatting
        run: make format-check

      - name: Run tests
        run: make test

      - name: Generate docs
        if: github.ref == 'refs/heads/main'
        run: make docs

      - name: Publish docs
        uses: crazy-max/ghaction-github-pages@v1
        if: github.ref == 'refs/heads/main'
        with:
          target_branch: gh-pages
          build_dir: _build/default/_doc_new/html/docs/
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Save cache when not Windows
        uses: actions/cache/save@v3
        if: steps.opam-cache.outputs.cache-hit != 'true' && runner.os != 'Windows'
        with:
          path: ~/.opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Save cache when Windows
        uses: actions/cache/save@v3
        if: steps.opam-cache-windows.outputs.cache-hit != 'true' && runner.os == 'Windows'
        with:
          path: _opam
          key: opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}
